.registration_data {
    display: grid;
    place-items: center;

    p {
        color: white;
    }

    label {
        color: white
    }

    .registration_data__container {
        width: 85%;

        .title_box__reg_data {
            display: flex;
            align-items: center;
            width: 100%;

            .back__btn {
                border-radius: 50%;
                background: rgba(3, 3, 3, 1);
                width: 32px;
                height: 32px;
                background: none;
                border: none;
                outline: none;
            }

            .create_account__title {

                width: 95%;

                font-family: Roboto;
                font-size: 16px;
                font-weight: 700;
                line-height: 22px;
                letter-spacing: 0em;
                text-align: center;
                color: white;
            }
        }

        .create_account__content {

            margin-top: 25px;

            height: 90%;

            display: flex;
            align-items: center;
            flex-direction: column;

            .user_data__box {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: start;

                margin-bottom: 25px;

                .user_data_label {
                    font-family: Roboto;
                    font-size: 20px;
                    font-weight: 700;
                    line-height: 27px;
                    letter-spacing: 0em;
                }

                .user_data_input {
                    padding-left: 10px;

                    height: 50px;
                    width: 100%;

                    font-family: Roboto;
                    font-size: 20px;
                    font-weight: 700;
                    line-height: 27px;
                    letter-spacing: 0em;

                    color: rgb(255, 255, 255);

                    border: none;
                    outline: none;
                    border-radius: 15px;

                    background: rgba(119, 119, 119, 1);
                }

                .user_data_info {
                    font-family: Roboto;
                    font-size: 10px;
                    font-weight: 400;
                    line-height: 27px;
                    letter-spacing: 0em;

                    color: rgb(84, 84, 84);
                }
            }

            .user_terms {
                display: flex;
                flex-direction: column;

                .user_terms__text {
                    font-family: Roboto;
                    font-size: 10px;
                    font-weight: 600;
                    line-height: 14px;
                    letter-spacing: 0em;
                    text-align: left;
                }

                .terms_link {
                    text-decoration: none;

                    font-family: Roboto;
                    font-size: 10px;
                    font-weight: 600;
                    line-height: 14px;
                    letter-spacing: 0em;
                    text-align: left;

                    color: rgba(30, 215, 96, 1);
                }
            }

            .extra_box {
                margin-top: 25px;

                .user_extra {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    .user_extra__text {
                        width: 75%;

                        font-family: Roboto;
                        font-size: 10px;
                        font-weight: 600;
                        line-height: 14px;
                        letter-spacing: 0em;
                        text-align: left;

                    }

                    .user_extra__inp {
                        width: 24px;
                        height: 24px;
                        border-radius: 50%;

                        border: 2px solid rgba(114, 114, 114, 1);
                        outline: none;

                        background: none;
                    }
                }
            }

            .create_user__btn {
                margin-top: 50px;

                margin: 0 auto;

                width: 55%;
                height: 40px;

                border-radius: 20px;

                font-family: Roboto;
                font-size: 15px;
                font-weight: 600;
                line-height: 20px;
                letter-spacing: 0em;

                border: none;
                outline: none;

                background-color: white;
            }
        }
    }
}