.artistPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  .artistPage-topPanel {
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    height: 72px;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    display: flex;
    align-items: center;
    .GoBackBtn {
      background-color: rgba(0, 0, 0, 0.5);
    }
    h3 {
      color: white;
      margin-left: 72px;
      margin-top: 5px;
    }
  }
  .artistPage-content {
    width: 100%;
    .artistPage-image {
      display: block;
      width: 100%;
      height: auto;
    }
    .artistPage-info {
      padding: 20px;
      width: 100%;
      display: flex;
      flex-direction: column;
      .artistPage-buttons {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        .followArtistBtn,
        .followArtistBtn--active {
          position: relative;
          outline: none;
          font-family: Avenir;
          cursor: pointer;
          font-size: 14px;
          line-height: 1;
          border-radius: 10px;
          transition-property: background-color, border-color, color, box-shadow,
            filter;
          transition-duration: 0.3s;
          border: 1px solid rgb(124, 124, 124);
          letter-spacing: normal;
          white-space: normal;
          font-weight: bold;
          text-align: center;
          padding: 12px 20px;
          color: white;
          background-color: transparent;
        }
        .followArtistBtn--active {
          border: 1px solid white;
        }
        .playBtn {
          width: 48px;
          height: 48px;
        }
      }
      .artistPage-topTracks {
        display: flex;
        flex-direction: column;
        align-items: start;
        margin: 20px 0;
        & button {
          border: none;
          background: none;
          color: rgb(197, 197, 197);
          font-family: Avenir;
          font-size: 16px;
          margin: 10px 0;
        }
        & h1 {
          font-family: Avenir;
          font-size: 28px;
          font-weight: 700;
          line-height: 38px;
          letter-spacing: 0em;
          text-align: center;
          color: white;
        }
        .tracks {
          margin: 10px 0;
          display: flex;
          flex-direction: column;
          row-gap: 10px;
          & li {
            display: flex;
            align-items: center;
            gap: 10px;
            & img {
              height: 60px;
              width: 60px;
              display: block;
              border-radius: 5px;
            }
            & span {
              color: white;
            }
          }
        }
        .albums {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 100%;
          margin: 10px 0;
          overflow-x: auto;
          -webkit-overflow-scrolling: touch;
          gap: 10px;
          & li {
            display: flex;
            flex-direction: column;
            align-items: center;
            & span {
              color: rgb(255, 255, 255);
              font-family: Avenir;
              font-size: 12px;
              font-weight: 600;
              line-height: 28px;
              width: 90%;
              margin: 0 auto;
              text-align: center;
              text-overflow: ellipsis;
              white-space: nowrap;
              overflow: hidden;
            }
          }
        }
      }
    }
  }
}
