.edit_profile {
    p {
        color: white
    }

    .edit_profile_container {

        width: 85%;
        margin: 0 auto;

        .edit_profile__title_box {
            padding-top: 25px;
            width: 75%;
            height: 50px;

            justify-content: space-between;


            display: flex;
            align-items: center;

            text-align: center;
            color: white;

            #go_back__btn_ep {
                border: none;
                background: none;
                outline: none;
                width: 16px;
                height: 16px;

                img {
                    width: 100%;
                    height: 100%;
                    border: 50%;
                }
            }
        }

        .user_profile_content {
            margin-top: 25px;

            width: 100px;
            height: 55px;

            display: flex;
            justify-content: space-between;

            .user_logo__box {
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;

                .user__photo {
                    height: 100%;
                    width: 100%;
                    border-radius: 50%;
                }
            }

            .user_text__content {
                padding-top: 5px;
            }
        }
    }
}

.warning_box {
    position: absolute;
    top: -100px;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    background-color: rgb(255, 179, 0);
    padding: 10px;
    border-radius: 5px;
    animation: warningAnimation 0.5s ease-out;
}

@keyframes warningAnimation {
    0% {
        top: -100px;
    }

    30% {
        top: 10px;
    }

    100% {
        top: 0;
    }
}