.searches_component {
    background-color: black;
    font-family: Avenir;
    color: #ffffff;
    display: flex;
    flex-direction: row;
    h1 {
        font-size: 15px;
    }
    h2 {
        font-size: 13px;
        color: gray;
    }
}