.player_container {
    margin: auto;
    max-width: 30%;
}

.player {
    background: linear-gradient(#962419, #661710, #430E09);
    font-family: Avenir;
    color: #ffffff;
    height: 100vh;
}



.upper_info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    button {
        border: none;
        padding: 0;
        background: none;
    }

    button:hover {
        cursor: pointer;
    }

}

.player_content {
    display: flex;
    flex-direction: column;
}

.track_info {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.track_img {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-bottom: 15%;
    margin-top: 30%;
}

.track_function {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 3%;

}

.vector {
    transform: rotate(180deg);
}


.track_modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 999999;
    background: linear-gradient(#490F0A, #121212);
    visibility: hidden;
    overflow-y: auto;
    opacity: 0;
}

.track_box_modal {
    max-width: 40%;
    margin: auto;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;



    h1 {
        font-size: 20px;
        text-align: center;
        margin-top: 66px;
    }

    h2 {
        font-size: 14px;
        color: #B3B3B3;
    }

}



.open {
    visibility: visible;
    opacity: 1;
    transition: 0.15s;
}

.track_box_modal {
    button {
        border: none;
        padding: 0;
        background: none;
        font-family: Avenir;
        font-size: 16px;
        color: white;
        font-weight: 600;
        margin-top: 4%;
        cursor: pointer;
    }
}


.modal_function {
    margin-top: 38px;
    display: flex;
    flex-direction: column;


    button {

        border: none;
        padding: 0;
        background: none;
        margin-top: 50%;
        margin-right: 10%;
        font-size: 16px;
        white-space: nowrap;
        
        img{
            margin-right: 5%;
            
        }
    }

    div {
        display: flex;
        flex-direction: row;
        color: #ffffff;
    }


}