.currentArtistModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.95);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: start;
}
.currentArtist {
  width: 100%;
  .currentArtistTopPanel {
    width: 100%;
    height: 72px;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    display: flex;
    align-items: center;
    .GoBackBtn {
      background-color: rgba(0, 0, 0, 0.5);
    }
    h3 {
      color: white;
      margin-left: 72px;
      margin-top: 5px;
    }
  }
  .currentArtistImageBox {
    width: 100%;
    & img {
      width: 100%;
      height: auto;
    }
  }
  .currentArtistInfoBox {
    display: flex;
    flex-direction: column;
    padding: 20px;
    overflow-y: scroll;
    .currentArtistButtons {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .followArtistBtn {
        position: relative;
        outline: none;
        font-family: Roboto;
        cursor: pointer;
        font-size: 14px;
        line-height: 1;
        border-radius: 15px;
        transition-property: background-color, border-color, color, box-shadow,
          filter;
        transition-duration: 0.3s;
        border: 1px solid transparent;
        letter-spacing: normal;
        white-space: normal;
        font-weight: bold;
        text-align: center;
        padding: 17px 30px;
        color: white;
        box-shadow: inset 0 0 0 2px #616467;
        background-color: transparent;
        height: 48px;
        &:hover {
          color: #fff;
          background-color: #616467;
        }
      }
      .playBtn {
        width: 48px;
        height: 48px;
      }
    }
    .currentArtistTopTracks {
      display: flex;
      flex-direction: column;
      align-items: start;
      margin: 40px 0;
      & h1 {
        font-family: Avenir;
        font-size: 28px;
        font-weight: 700;
        line-height: 38px;
        letter-spacing: 0em;
        text-align: center;
        color: white;
      }
      .tracks {
        margin: 10px 0;
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        & li {
          display: flex;
          align-items: center;
          gap: 10px;
          & img {
            height: 60px;
            width: 60px;
            display: block;
            border-radius: 5px;
          }
          & span {
            color: white;
          }
        }
      }
    }
  }
}
