.searchCard {
  border-radius: 4px;
  background: rgb(152, 84, 178);
  flex-basis: 49%;
  height: 100px;
  padding: 16px;
  position: relative;
  .searchCard__title {
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;
  }
  & img {
    position: absolute;
    width: 50.33px;
    height: 50.33px;
    z-index: 1;
    bottom: 10px;
    right: 10px;
    transform: rotate(-19.86deg);
  }
}
